<footer class="modern-gradient text-center">
  <section class="container-xxl">
    <div class="row d-flex justify-content-between py-5">
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card card-footer rounded">
          <div
            class="body-card-footer card-body d-flex flex-column justify-content-center align-items-center p-4 w-5"
          >
            <img src="/images/logod.png" style="width: 4rem" alt="" />
            <h5 class="card-title mt-4">Instapet </h5>
            <div class="subrayado"></div>

            <div>
              <a
                target="_blank"
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="https://www.facebook.com/people/SocraTech/100069695526890/"
                role="button"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              
              <a
                target="_blank"
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="https://www.instagram.com/socratechescuela/"
                role="button"
              >
                <i class="fab fa-instagram"></i>
              </a>
              <a
                target="_blank"
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="https://www.youtube.com/c/Socratech"
                role="button"
              >
                <i class="fab fa-youtube"></i>
              </a>
              <a
                target="_blank"
                data-mdb-ripple-init
                class="btn btn-outline btn-floating m-1"
                href="https://www.linkedin.com/school/escuela-socratech/"
                role="button"
              >
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <div class="card card-footer rounded p-2">
          <div
            class="body-card-footer card-body d-flex flex-column justify-content-center align-items-center"
          >
            <h5 class="card-title">Información de la escuela</h5>
            <div class="subrayado"></div>
            <p class="card-text">Email: hello@socratech.es</p>
            <p class="card-text">Tel: 623 000 071</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center mt-5 p-3 card-text">
      <p class="p-footer">
        © web diseñada por
        <a
          target="_blank"
          class="text-reset fw-bold"
          href="https://linkedin.com/in/virginia-fernandez-c"
          >Virginia Fernández</a
        >
        estudiante en :
        <a
          target="_blank"
          class="text-reset fw-bold"
          href="https://socratech.es/"
          >socratech.es</a
        >
      </p>
    </div>
  </section>
</footer>
