<nav class="modern-gradient navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid ms-5 me-5">
    <a class="navbar-brand" href="/"
      ><div class="animation-logo">
        <img class="img-logo" src="/images/logod.png" alt="" /></div
    ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div class="div-nav">
          <li class="nav-item">
            <a class="a-nav " aria-current="page" href="/">Miembros</a>
          </li>
        </div>
        <div class="div-nav">
          <li class="nav-item">
            <a class="a-nav " aria-current="page" href="/pet/allPets"
              >Mascotas</a
            >
          </li>
        </div>
      </ul>
    </div>
    <div class="d-flex flex-wrap justify-content flex-end">
      <button
        onclick="window.location.href='/owner/registerOwner'"
        class="btn-nav"
      >
        Regístrate
      </button>

      <button
        onclick="window.location.href='/pet/formAddPetSelect'"
        class="btn-nav"
      >
        Registra una mascota
      </button>
    </div>
  </div>
</nav>
